.pagination {
  padding-top: 10px;
  display: inline-block;

}

.pagination a {

  float: left;
  padding: 8px 16px;
  text-decoration: none;
  border: 1px solid #ddd;
  color: black;
}

.pagination a.null{
  color: #ddd;
}
.pagination a.flecha{
  color: #4CAF50;
}
.pagination a.active{

  background-color: #4CAF50;
  border: 1px solid #4CAF50;
  color: white;
}

.pagination a:hover:not(.active){
  background-color: #ddd;
}

.pagination a:first-child{
  border-top-left-radius:  5px;
  border-bottom-left-radius: 5px;
}

.pagination a:last-child{
  border-top-right-radius:  5px;
  border-bottom-right-radius: 5px;
}
