body{
    font-family: 'Ubuntu', sans-serif;
}

*{
    margin: 0;
    padding: 0;
   user-select: none;
   box-sizing: border-box;

}
.btn{
    position: absolute;
    top: 15px;
    left: 20px;
    height: 47px;
    width: 51px;
    text-align: center;
    background-color: #00b336;
    border-radius: 3px;
    cursor: pointer;
transition: left 0.4s ease;
}

.btn.click{
left: 260px;
}
.btn span{
    color: white;
    font-size: 28px;
    line-height: 34px;
}

.btn.click span:before{
  content: normal;
}

.sidebar{
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #00b336;
    color: white;
    transition: left 0.4s ease ;
}

.sidebar.show{

    left: 0px;

}

.sidebar .text{
    font-size: 22px;
    color: white;
    font-weight: 600;
    line-height: 65px;
    text-align: center;

}


nav ul li a{
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding-left: 40px;
    font-weight: 600;
    display: block;
    width: 100%;
    border-left: 3px solid transparent;
}

nav ul li a:hover{
    color: #e6e600;
  border-left-color: #e6e600;
}

nav ul ul li a:hover{
    color: #e6e600;
  border-left-color: #e6e600;
}

nav ul li.active ul li a{
    color: #e6e600;
  border-left-color: #e6e600;
}


nav ul li{
    line-height: 60px;
    border-bottom: 1px solid white;

}

nav ul li:last-child{
    line-height: 60px;
    border-bottom: 1px solid white;

}

nav ul{
    background: #00b336;
    height: 100%;
    width: 100%;
    list-style: none;

}

nav ul ul{
position: static;
display: none;

}

nav ul ul li{
    line-height: 42px;
    border-bottom: none;

}

nav ul ul li a{
    font-size: 17px;
padding-left: 80px;

}

nav ul li a span{
    position: absolute;
    top: 50%;
right: 20px;
transform: translateY(-50%);
font-size: 22px;
transition: transform 0.4s;
}

nav ul li a:hover span{
    transform: translateY(-50%) rotate(-180deg);
}
nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
}

nav ul .reg-show.show{
display: block;
}

nav ul .ver-show.show1{
    display: block;
}

nav ul .cambiar-show.show2{
    display: block;
}

.sidebar img{
  display:block;
  margin:auto;
  border-radius: 50%;

}
